<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 콘솔 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- SimpleBeanFactory 만 DEBUG 레벨 -->
    <logger name="com.hooby.ioc.SimpleBeanFactory" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- 루트 로거 (INFO) -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>